[Unit]
Description=Hourly Small Cloud derived image retention

[Timer]
OnCalendar=hourly
RandomizedDelaySec=120
Persistent=true
Unit=small-cloud-runtime-images.service

[Install]
WantedBy=timers.target
